.image1{
	width:20%;
	height:20%;
}
.image2{
	width:100%;
}
.image3{
	width:100%;
}
.image5{
float:left
}
.image4{
float:left
}

.pg1{
	float:left
}
header, nav, footer {
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color:black;
}

nav ul li a:hover {
    color: #666;
}

main {
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}

.property {
    margin-bottom: 30px;
}

.property img {
    max-width: 100%;
    height: auto;
}

form {
    margin: 0 auto;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

ul {
    text-align: left;
    margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 20px auto;
}

h1, h2, h3 {
    color: #007bff;
    font-family:'supernatural',san sherif;
}

p {
    font-size: 16px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
